# Ignorar configurações
.vscode/
64 SFML-2.6.2/
mingw32/

# Ignorar debug
debug/

# Ignorar binários e arquivos de saída
bin/

# Ignorar objetos de compilação
obj/

# Ignorar arquivos .d (dependências geradas)
*.d

# Ignorar outros arquivos específicos de compilação
*.o