# Ignorar configurações
.vscode/
64 SFML-2.6.2/
mingw32/

# Ignorar os arquivos que modifiquei no meu computaro (Felipe Dias Peixoto)
main.exe
Makefile
.vscode/c_cpp_properties.json

# Ignorar debug
debug/

# Ignorar binários e arquivos de saída
bin/

# Ignorar objetos de compilação
obj/

# Ignorar arquivos .d (dependências geradas)
*.d

# Ignorar outros arquivos específicos de compilação
*.o
